* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }


body {
    background-color: rgb(100, 0, 100);
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

  header{
    width: 100%;
    height: auto;
    background-color: white;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 1;
  }

  .logo > h2 > a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 900px;
    color: purple;
   
  }

  .navBar > ul {
    display: flex;
    list-style: none;
  }

  .navBar > ul> li {
    margin: 8px;
  }

  .navBar > ul> li > a {
    text-decoration: none;
  }

  .navBar > ul> li > a:hover {
    color: purple;
    font-weight: bolder;
    
  }

  /* slide begins here */

  .mySlides {
    display: none;
    
  }
img {
  vertical-align: middle;
  height: 100vh;
  }

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bolder;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 3s;
}

/* @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
} */

.container{
  display: flex;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
}
.cont {
  width: 50%;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  img {
    height: auto;
    }
}

  